.tooltip {
  display: none;
  position: absolute;
  width: 100%;
  background: #CCC;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  top: -35px;
  border-radius: 3px;
  font-weight: bold;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #CCC transparent transparent transparent;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -10px;
  }
}