<div ng-controller="MoviesCtrl">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="header__left">
            <h1>ng-Movies</h1>
            <h2>Angular &times; OMDb</h2>
          </div>
          <div class="header__right">
            <form ng-submit="submit()" >
              <input type="text" ng-model="search">
              <input type="submit" id="submit" value="" />  
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="archive">
            <div ng-show="archive" class="archive__title">Past Searches:</div>
            <ul>
              <li ng-repeat="data in archive" ng-click="prevSearch(data)">
                {{data.Query}}
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <h1>Results</h1>
        <ul >
          <li ng-repeat="movie in results">
            <img ng-src="{{movie.Poster}}" alt="">
            <p>{{movie.Title}}</p>
            <p>{{movie.Year}}</p>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


