<div ng-controller="MoviesCtrl">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="header__left">
            <h1>ng-Movies</h1>
            <h2>Angular &times; OMDb</h2>
          </div>
          <div class="header__right">
            <form ng-submit="submit()" >
              <input type="text" ng-model="search">
              <input type="submit" id="submit" value="" />  
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="archive">
            <div ng-show="archive" class="archive__title">Past Searches:</div>
            <ul>
              <li ng-repeat="data in archive" ng-click="prevSearch(data)">
                {{data.Query}}
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
  </header>
  <div class="results">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="movie in results">
          <div class="results__movie" style="background-image:url('{{movie.Poster}}')">
            <div class="tooltip">{{movie.Title}} ({{movie.Year}})</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


